/.vscode
/assets
/ClassandID.html
/education.css
/Education.html
/first.html
/FirstPage.html
/FirstWebsite.html
/FlexboxLayout.html
/FloatLayout.html
/format.html
/IFrame.html
/Images
/layout.html
/LayoutWebPage.html
/List.html
/NewWeb.html
/playvideo.html
/registration form.html
/Responsive.html
/script.js
/simplecss.html
/style.css
/table.html
/vidtube.css
/vidtube.html